body, html {
    height: 100%;
}

.BookAppointment {
   height: 600px;
   background-image: url("./contact.jpg"); 
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: -20px
}
