body, html {
    height: 100%;
}

.DoctorJoin {
    height: 600px;
   background-image: url("./5.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: -20px
}